<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RedmineLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <RedmineLog.Properties.Settings>
            <setting name="RedmineURL" serializeAs="String">
                <value>http://10.0.0.104/redmine/</value>
            </setting>
            <setting name="Issues" serializeAs="String">
                <value>issues.xml</value>
            </setting>
            <setting name="Projects" serializeAs="String">
                <value>projects.xml</value>
            </setting>
            <setting name="Users" serializeAs="String">
                <value>users.xml</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>886ccdc09cb7223a43261d0b5dd9fdf25e2797cc</value>
            </setting>
            <setting name="TimeEntry" serializeAs="String">
                <value>time_entries.xml</value>
            </setting>
            <setting name="Enumeration" serializeAs="String">
                <value>enumerations/time_entry_activities.xml</value>
            </setting>
        </RedmineLog.Properties.Settings>
    </userSettings>
</configuration>
