<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <appSettings>
    <add key="SlackChannel" value="https://hooks.slack.com/services/xxx/xxx/xxxx"/>
    <add key="UpdateInfo" value="http://ChangeLogFileUrl"/>
    <add key="WebSiteUrl" value="https://WebSiteUrl"/>
  </appSettings>
</configuration>